extend layout

block styles
  link(rel='stylesheet', href='/stylesheets/bootstrap-responsive-project.min.css')

block sidebar
  h2 Projects
  include forms/add-project

  ul#projects

block content
  include forms/add-screen

block scripts
  script(src='/javascripts/lib/require-jquery.min.js', data-main='/javascripts/scripts/index.js')

  include templates/collections/project
  include templates/collections/screen
  include templates/popovers/project-deletion
